
<% include ./comunes/header.ejs %>
<div class="container">
    <div class="row" style="padding-top: 100px">
    <div class="col-md-2"></div>
    <div class="col-md-8  text-white"  style="background-color: #e3f2fd;" id="contenido" >
        <h1 style="color: #4e555b">Proximos Eventos </h1>
        <form action="/" method="get">
            <div class="row" style="background-color: rgba(56,114,173,0.5);">
                <div class="col-sm-9" style="background-color: #e3f2fd;">
                    <div class="form-group">
                        <label style="color: #4e555b" for="busqueda">Busqueda de eventos</label>
                        <input id="busqueda"
                               type="text"
                               class="form-control"
                               name="busqueda">
                    </div>

                </div>
                <div class="col-sm-3" style="background-color: #e3f2fd;">

                    <button class="btn btn-dark btn-block btn-buscar"
                            type="submit">Buscar
                    </button>

                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>

</div>
    <img src="/oak.png" style="position: absolute; padding-left: 62%" class="animated fadeIn" alt="">

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-white" style="background-color: rgba(56,114,173,0.5);">
        <table class="table table-hover animated fadeInUp">
            <caption>Lista de eventos</caption>
            <!-- tr -> table row -->
            <thead>
            <tr>
                <!-- th -> table header -->
                <th width="30%">Nombre</th>
                <th width="50%">Fecha</th>
                <th width="20%">Acciones</th>

            </tr>
            </thead>
            <!-- tr -> table row -->
            <tbody>
            <% eventos.forEach((evento)=>{ %>
                <tr>
                    <!-- td -> table detail -->
                    <td><%= evento.nombre %></td>
                    <td><%= evento.fecha %></td>
                    <td><a href="/evento/ver/<%= evento.id %>">
                            <button class="btn btn-info btn-block btn-b"
                                type="submit">Ver
                            </button>
                        </a>
                    </td>

                </tr>
            <% }) %>
            </tbody>
        </table>

    </div>
    <div class="col-md-2"></div>
</div>
</div>
<% include ./comunes/librerias.ejs %>
<% include ./comunes/footer.ejs %>
