
<% include ./comunes/header.ejs %>
<div class="container">
    <div class="row" style="padding-top: 100px">
    <div class="col-md-3"></div>
    <div class="col-md-6 border text-white" id="contenido" style="background-color: rgba(0, 0, 0, 0.7);">
        <h1 class="titulo">Registro de Pokemon: </h1>
        <!-- Modal Content -->
        <form action="/pokemon/registrar" method="post">

            <label for="numeroPokemon"><b>Numero del Pokemon</b></label>
            <input class="form-control"
                   id="numeroPokemon" type="number" placeholder="Ingresa el numero del Pokemon" name="numeroPokemon" required>

            <label for="nombrePokemon"><b>Nombre del Pokemon</b></label>
            <input class="form-control"
                   id="nombrePokemon" type="text" placeholder="Ingresa el nombre del Pokemon" name="nombrePokemon"
                   required>

            <label for="tipoPokemon"><b>Tipo del Pokemon</b></label>
            <input class="form-control"
                   id="tipoPokemon" type="text" placeholder="Ingresa el tipo del Pokemon" name="tipoPokemon" required>

            <label for="poderEspecial1"><b>Poder especial 1 </b></label>
            <input class="form-control"
                   id="poderEspecial1" type="text" placeholder="Ingresa el poder especial 1" name="poderEspecial1" required>

            <label for="poderEspecial2"><b>Poder especial 2 </b></label>
            <input class="form-control"
                   id="poderEspecial2" type="text" placeholder="Ingresa el poder especial 2" name="poderEspecial2" required>

            <label for="fecha_captura"><b>Fecha de Captura</b></label>
            <input class="form-control"
                   id="fecha_captura" type="date" placeholder="Ingresa la fecha de captura" name="fecha_captura" required>

            <label for="nivel"><b>Nivel</b></label>
            <input class="form-control"
                   id="nivel" type="number" placeholder="Ingresa el nivel del Pokemon" name="nivel" required>

            <div class="form-group">
                <label for="entrenador">Entrenador</label>
                <select class="form-control"
                        name="entrenador"
                        id="entrenador" required>
                </select>
            </div>

            <button style="margin-top: 20px; margin-bottom: 20px;" type="submit" class="btn btn-success btn-block">Registrar</button>

        </form>
    </div>
    <div class="col-md-3"></div>

</div>
</div>
<% include ./comunes/librerias.ejs %>
<script>
    let etiquerasSelectEntreenadores = document.getElementById('entrenador')
    const url = 'http://localhost:3000/entrenador/listar';
    $.get(
        url, // URL
        (datos) => {  // Callback
            console.log(datos)
            const arregloEntrenadores = datos;
            matarHijos();
            llenarEntrenadores(arregloEntrenadores);
        }
    )




    function llenarEntrenadores(arregloEntrenadores) {
        arregloEntrenadores
            .forEach(
                (entrenador) => {
                    const nuevaOption = document.createElement('option');
                    nuevaOption.value = entrenador.id;
                    nuevaOption.innerText = entrenador.nombreEntrenador;
                    nuevaOption.localName = 'entrenador_nombre'
                    etiquerasSelectEntreenadores.appendChild(nuevaOption);
                }
            )
    }

    function matarHijos() { //AKA eliminarLasOpciones
        while (etiquerasSelectEntreenadores.firstChild) {
            etiquerasSelectEntreenadores.removeChild(etiquerasSelectEntreenadores.firstChild);
        }
    }
</script>
<% include ./comunes/footer.ejs %>